.emptyCartMain{
    /* background-color: aqua; */
}
.emptyCartMainContainer{
    background-color: #cef2df;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.emptyCartItems{
    /* background-color: red; */
    text-align: center;
}
.yourCartIsEmpty{
    /* background-color: green; */
    font-size: 45px;
    margin-bottom: 10px;
}
.emptyCartImgContainer{
    /* background-color: blue; */
}
.emptyCartImgContainer .emptyCartImg{
    width: 70px;
}
.cartEmptyButton{
    background-color: #299e60;
    color: white;
    font-size: 16px;
    font-weight: 600;
    width: 60%;
    margin-top: 30px;
    padding: 5px 0px;
    border-style: none;
    border-radius: 10px;
    border: 1px solid #299e60;
}
.cartEmptyButton:hover{
    background-color: white;
    color: #299e60;
    transition: 0.3s ease;
    /* border: none; */
    /* border: 1px solid rgb(192, 189, 189); */
}