.yourCartMain{
    background-color: aqua;
}
.yourCartMainContainer{
    /* background-color: rebeccapurple; */
    background-color: #e6f9ef;
}
.yourCartTextContinueShopping{
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
}
.YourCartText{
    /* background-color: green; */
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0px;
}
.yourCartButtonShopping{
    background-color: #299e60;
    color: white;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 15px;
    border-style: none;
    border-radius: 10px;
    border: 1px solid #299e60;
}
.yourCartButtonShopping:hover{
    background-color: hsl(148, 59%, 31.2%);
    transition: 0.4s ease;
    border: none;
    border: 1px solid hsl(148, 59%, 31.2%);
}

.yourCartItemContainer{
    /* background-color: blue; */
}
.yourCartItemContainer .yourCartItemRow{
    /* margin: 0px;
    padding: 0px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.yourCartProductsContainer{
    background-color: red;
    height: 100%;
    flex: 2;
}
.yourCartPriceDetailsContainer{
    /* background-color: green; */
    padding: 0px 20px!important;
    flex: 1;
}
.yourCartPriceDetailsMainContainer{
    background-color: white;
    padding-bottom: 0px;
    border: 1px solid #e3e3e3;
    box-shadow: 1px 1px 10px 1px #878787;
}
.priceDetails{
    /* background-color: rgb(226, 140, 140); */
    color: #878787;
    margin: 0 ;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #e3e3e3;
    border-top: none;
    border-left: none;
    border-right: none;
}
.totalProductsContainer{
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
}
.priceOfTheProducts, .priceIs{
    /* background-color: cadetblue; */
    margin: 0;
    padding: 15px 20px 0px 20px;
    font-size: 16px;
}
.deliveryChargesContainer{
    /* background-color: bisque; */
    display: flex;
    justify-content: space-between;
}
.deliveryCharges{
    /* background-color: cadetblue; */
    margin: 0;
    padding: 15px 0px 15px 20px;
    font-size: 16px;
}
.hrUnderDelivery{
    /* background-color: orange !important; */
    margin: 0px 20px;
    border: 1px dashed #e3e3e3;
}
.totalAmountContainer{
    /* background-color: coral; */
    margin: 0;
    padding: 0px 0px 0px 0px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
}
.amountOfTheProducts{
    /* background-color: aqua; */
    margin: 0;
    padding: 15px 0px 15px 20px;
    font-size: 17px;
    font-weight: bold;
}
.amountOfPriceIs{
    margin: 0;
    padding: 15px 20px 0px 20px;
    font-size: 16px;
    font-weight: bold;
}
.youWillSave{
    /* background-color: rebeccapurple; */
    color: #299e60;
    margin: 10px 0px;
    padding: 0px 0px 0px 20px;
    font-size: 15px;
    font-weight: bold;
}
.safeAndSecurePaymentContainerText{
    /* background-color: rgb(111, 118, 207); */
    margin-top: 30px;
    display: flex;
    align-items: center;
}
.shieldIcon{
    color: #666666;
    font-size: 25px;
    margin: 5px 10px 5px 10px;
    /* padding-right: 5px; */
}
.safePayment{
    /* background-color: red; */
    color: #878787;
    font-size: 13px;
    font-weight: bold;
    margin: 0;
}
.list-cart-item-1{
    padding: 15px 0px;
    height: 230px;
}
.list-cart-item-1 :hover .list-cart-item-img{
    transform: scale(1.1);
    transition: 0.4s ease;
}
.list-cart-item-inc-dec{
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-cart-item-inc, .list-cart-item-dec{
    background-color: transparent;
    border: none;
}
.list-cart-item-quantity{
    background-color: red;
    width: 40px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.list-cart-quantity{
    background-color: green;
    font-size: 15px;
    /* text-align: center; */
}
.list-cart-detail-container{
    display: flex;
    align-items: center;
}
.list-cart-item-Details{
    background-color: rebeccapurple;
    width: 100%;
    height: 100%;
}
.list-cart-item-Details p:nth-child(1){
    background-color: yellow;
    font-size: 15px;
}
.list-cart-item-Details p:nth-child(2){
    background-color: yellow;
    font-size: 13px;
    color: gray;
}
.list-cart-item-Details p:nth-child(3){
    background-color: yellow;
    font-size: 13px;
    color: gray;
}
.list-cart-item-Details p:nth-child(4){
    background-color: yellow;
    color: #388e3c;
    font-size: 13px; 
    font-weight: bold;
}
.list-cart-item-Details p:nth-child(4) p{
    background-color: aqua;
}
.list-cart-item-Details p:nth-child(4) p:nth-child(1){
    background-color: pink;
    color: gray;
    font-size: 13px;
}
.list-cart-item-Details p:nth-child(4) p:nth-child(2){
    background-color: chartreuse;
    color: black;
    font-size: 18px;
}
.list-cart-item-Details p:nth-child(5){
    background-color: yellow;
    font-size: 15px;
}
.list-cart-remove-btn{
    background-color: transparent;
    border: none;
}
.list-cart-remove-btn:hover{
    color: #299e60;
    transition: 0.3s ease;
}
.list-cart-Delivery-date-pinTop{
    background-color: aqua;
    font-size: 13px;
    font-weight: bold;
    display: flex;
    justify-content: end;
}
.delivery-by p:nth-child(1){
    /* background-color: red; */
}
.list-cart-pipe-icon{
    height: 18px;
}
.delivery-by p:nth-child(3){
    color: #299e60;
}



