/* side Bar Main Container 1 start*/
#sideBarMainContainer{
    /* background-color: red; */
    /* padding: 10px 5px; */
}
.slideBarWidth{
    width: 300px!important;
}
/* button for offcanvas open */
#sideBarBtnOpen{
    /* background-color: rgb(255, 157, 0); */
    color: #212529;
    border-left: 1px solid;
    border-right: 1px solid;
    border-left-color: #e6e6e6;
    border-right-color: #e6e6e6;
    border-top: none;
    border-bottom: none;
    padding: 10px 0px;
    width: 200px; 
}
/* grid icon */
#NavSideBarGridIcon{
    font-size: 20px;
    margin: 0px 10px 0px 20px;
}
/* angle down icon */
#NavSideBarAngleDownIcon{
    font-size: 20px;
    margin: 0px 10px 0px 10px;
}
.offcanvas-body .slideBarBtn{
    color: gray;
}